# custom
.env

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# --- STRAPI ---
apps/strapi/.DS_Store
apps/strapi/.AppleDouble
apps/strapi/.LSOverride
apps/strapi/Icon
apps/strapi/.Spotlight-V100
apps/strapi/.Trashes
apps/strapi/._*
apps/strapi/Thumbs.db
apps/strapi/ehthumbs.db
apps/strapi/Desktop.ini
apps/strapi/$RECYCLE.BIN/
apps/strapi/*.cab
apps/strapi/*.msi
apps/strapi/*.msm
apps/strapi/*.msp
apps/strapi/.tmp
apps/strapi/*.log
apps/strapi/*.sql
apps/strapi/*.sqlite
apps/strapi/*.sqlite3
apps/strapi/ssl
apps/strapi/.idea
apps/strapi/nbproject
apps/strapi/public/uploads/*
apps/strapi/!public/uploads/.gitkeep
apps/strapi/lib-cov
apps/strapi/lcov.info
apps/strapi/pids
apps/strapi/logs
apps/strapi/results
apps/strapi/node_modules
apps/strapi/.node_history
apps/strapi/testApp
apps/strapi/coverage
apps/strapi/.env
apps/strapi/license.txt
apps/strapi/exports
apps/strapi/*.cache
apps/strapi/build
apps/strapi/.strapi-updater.json
apps/strapi/dist
